<div class="container">
  <h1><%= @list.name %></h1>
  <p>Background Image Url: <%= @list.background_image_url %></p>

  <h2>Add a new Bookmark</h2>
  <%= render 'bookmarks/form', list: @list, bookmark: @bookmark %>
  <%= link_to 'Edit List', edit_list_path(@list), class: 'btn btn-warning' %>
  <%= link_to 'Delete this List', list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-danger' %>
  <hr>
  <h2>Bookmarks</h2>
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="row no-gutters">
            <div class="col-md-4">
              <%= image_tag bookmark.movie.poster_url, class: 'card-img' %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= bookmark.movie.title %></h5>
                <p class="card-text"><%= bookmark.movie.overview %></p>
                <p class="card-text"><small class="text-muted">Rating: <%= bookmark.movie.rating %></small></p>
                <p class="card-text"><small class="text-muted"><%= bookmark.comment %></small></p>
                <%= link_to 'Delete', bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to 'Back to Lists', lists_path, class: 'btn btn-secondary' %>
</div>
