<div class="container mb-3 mt-3 text-center">
<h1>All Movies</h1>
<%= link_to 'New Movie', new_movie_path, class: "btn btn-primary" %>
<hr>
<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-md-3">
      <div class="card mb-3">
        <%= image_tag movie.poster_url, class: 'card-img-top', alt: movie.title %>
        <div class="card-body">
          <h5 class="card-title"><%= movie.title %></h5>
          <p class="card-text"><%= movie.overview %></p>
          <p class="card-text"><small class="text-muted"><%= movie.rating %></small></p>
          <%= link_to 'View Details', movie_path(movie), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<hr>
<%= link_to 'Back to Home Page', lists_path, class: "btn btn-success" %>

</div>
