<div class="container mt-5 text-center">
  <h1><%= @movie.title %></h1>
  <%= image_tag @movie.poster_url, class: 'img-fluid', width: "200" %>
  <p><%= @movie.overview %></p>
  <p><strong>Rating:</strong> <%= @movie.rating %></p>

  <%= link_to 'Edit', edit_movie_path(@movie), class: 'btn btn-warning' %>
  <%= link_to 'Back to movies', movies_path, class: 'btn btn-secondary' %>
  <%= link_to 'Delete', movie_path(@movie), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-danger' %>
</div>
